$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'modules/colors';

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $grey-white;
  margin-bottom: 60px;
}

#logo {
  height: 50px;
  float: left;
}

.header-navbar {
  margin-bottom: 0px;
}

.user-placeholder {
  height: 120px;
  width: 120px;
}

.user-placeholder-header {
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.user-placeholder-index {
  height: 200px;
  width: 242px;
}

.user-placeholder-show {
  height: 400px;
  width: 400px;
}

.post-user-image {
  width: 64px;
  height: 64px;
}

/* GENERAL */

.white-text {
  color: $white;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.b-margin {
  margin-bottom: 15px;
}

.center {
  text-align: center !important;
}

.in-block {
  display: inline-block;
}

/* HEADER */

.header-top {
  padding: 1.6em 0;
  background-color: $dark-grey;
}

.top-menu {
  text-align: center;
  float: right;
}

.cl-effect-16 {
  margin-bottom: 0px;
  a {
    color: $light-blue;
    text-shadow: 0 0 1px rgba($grey-blue-2, .3);
  }
}

.top-menu ul li {
  display: inline-block;
  margin-right: 1.1em;
  a {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 0;
    margin-top: 20px;
  }
  &.active a span {
    background: $red;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  a {
    &:hover, &.active {
      color: $light-blue;
    }
  }
  &:nth-child(5) a {
    margin: 0;
  }
  button {
    background: $light-blue;
    padding: 0.8em 2em;
    outline: none;
    border: none;
    color: $white;
    -webkit-appearance: none;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -o-border-radius: 0.4em;
  }
}

.form-control {
  height: 43px !important;
}

/* REGISTER */

.register-background {
  background-size: cover;
  background-color: $dark-grey-2;
}

.register-panel {
  padding: 20px;
  margin: 50px 0 50px;
  background: rgba($white, .2);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

/* INDEX */

.content {
  background: $grey-white;
  padding: 3em 0;
}

.dapibus {
  background: $white;
  padding: 2em 1.3em;
  box-shadow: 0px 1px 5px -1px rgba($grey-blue-2, .31);
  border-radius: 0.3em;
}

.content h2 {
  font-size: 1.1em;
  font-weight: 600;
  color: $grey-blue;
  text-align: left;
  line-height: 1.4em;
  margin: 0;
}

p.adm {
  color: $light-grey;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
  font-style: italic;
  margin: 0 0 5px;
  a:hover {
    color: $light-grey;
  }
}

.content p {
  color: $light-grey;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
}

.link {
  background: url(/images/arrow.png) no-repeat -1px 5px;
  display: inline-block;
  padding: 0 0 0 13px;
  line-height: 20px;
  font-size: 1em;
  font-style: normal;
  color: $light-pink;
  font-weight: 700;
}

a.link:hover {
  color: $dark-grey-3;
}

.praesent {
  margin-bottom: 15px;
}

/*--about--*/

.about {
  background: $grey-white;
  padding: 3em 0;
}

.biographys {
  margin-top: 2em;
  background: $white;
  padding: 2em 1.5em;
  box-shadow: 0px 1px 4px 0px rgba($grey-blue-2, .31);
  border-radius: 0.3em;
}

.about h2 {
  color: $grey-blue;
  font-size: 3em;
  margin: 0em;
  font-weight: 700;
  text-align: center;
}

.biography {
  padding: 1em 0;
}

.biography-into {
  h4, h3 {
    color: $grey-blue;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  h4 a {
    color: $grey-blue;
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  h2 {
    color: $grey-blue;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  p {
    color: $light-grey;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1em;
  }
}

.biography-info-right {
  border: none;
  outline: 0;
  color: $white;
  background: $yellow;
  padding: 0.3em 1.5em 0.5em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-size: 1.2em;
  font-weight: 400;
  &:hover {
    background-color: $dark-grey-3;
    color: $white;
    text-decoration: none;
  }
}

/*--/about--*/

.post-textarea {
  height: 150px !important;
}

.skill-container {
  line-height: 3em !important;
  text-align: center !important;
  margin-bottom: 0;
}

/* USERS */

.user-image {
  height: 130px;
  width: auto;
  margin-top: -10px;
}

/* JOB OFFERS*/

.apply-button {
  float: right;
  margin-top: -65px;
}

/* FOOTER*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $dark-grey;
  color: white;
}

.grey-bg {
  background-color: $dark-grey;
}

.no-underline a:hover {
  text-decoration: none;
}

.remove-button {
  cursor: pointer;
}

/* GENERAL */

.media {
  overflow: visible;
}

.media-body {
  padding: 10px;
}

.form-group-shadow span {
  color: yellow;
  text-shadow: 0px 0px 4px black;
}

.grid-row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.grid-item {
  display: inline-block;
  padding: .25rem;
  width: 100%;
}

.top-right-edit-button {
  position: absolute;
  top: 15px;
  right: 35px;
}

.green-text {
  color: green;
}

.red-text {
  color: $dark-red;
}

.upper {
  text-transform: uppercase;
}

.ng-invalid.ng-dirty {
  border-color: $dark-red;
}

.ng-valid.ng-dirty {
  border-color: $light-blue;
}

.simil-link {
  cursor: pointer;
}

.right {
  margin-right: 3px;
}

.blue {
  background-color: $dark-blue !important;
  color: $white !important;
}

hr {
  margin-top: 0;
}

/* FIXES */

.input-group{
	width: 100% !important;
}

.skill{
	float: left;
}

.skill-container {
    line-height: 1.75em !important;
}

.apply-button {
    margin-top: 20px !important;
	position: absolute !important;
    right: 35px !important;
}

.biography-into h4, .biography-into h3 {
    padding-right: 60px !important;
}

.skill-container{
	overflow: auto;
}

.user-item{
	float:left;
}

.biography-into h3{
	padding-right: 0px !important;
}

.dapibus > a{
	float:left !important;
}

.subtitle {
  color: $grey-blue;
}