<div class="header-top" ng-controller="NavbarCtrl as navbarCtrl">
    <div class="container">
        <div id="logo">
        <a class="simil-link" ng-click="navbarCtrl.redirect(navbarCtrl.constants.PATH_INDEX)">
            <img src="images/logo.png" title="logo" height=50 width=250>
        </a>
        </div>
        <span class="menu"></span>
        <div class="top-menu">
        <ul class="cl-effect-16">
            <div ng-hide="logged">
                <li>
                    <form class="navbar-form navbar-left relative" name="loginForm"
                        ng-submit="loginForm.$valid && navbarCtrl.login()" novalidate>

						<div class="form-group alert alert-danger absolute m-bottom2 right0" role="alert" ng-show="navbarCtrl.showError"><b>{{ navbarCtrl.errorCode | translate }}</b></div>
						<div class="form-group">
							<input type="text" name="email" class="form-control" placeholder="{{ 'EMAIL' | translate }}"
								ng-model="navbarCtrl.login.email" required></input>
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}"
								ng-model="navbarCtrl.login.password" required></input>
						</div>
						<input type="submit" class="btn btn-info btn-lg submit-button" value="{{ 'LOG_IN' | translate }}"></input>

                    </form>
                </li>
            </div>

            <div ng-show="logged">
                <li><a class="simil-link" ng-href="/users">{{ 'USERS' | translate }}</a></li>
                <li><a class="simil-link" ng-href="/job_offers">{{ 'JOB_OFFERS' | translate }}</a></li>
                <li><a class="simil-link" ng-href="/users/{{ navbarCtrl.user.id }}">{{ 'MY_PROFILE' | translate }}</a></li>
                <li><a class="simil-link" ng-click="navbarCtrl.logout()">{{ 'LOG_OUT' | translate }}</a></li>
            </div>
        </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
