<div ng-controller="EditJobOfferCtrl as editJobOfferCtrl">
  <navbar></navbar>
  <div class="content">
    <div class="container">
        <div class="praesent">
            <div class="l_g_r biography-into">
                <div class="dapibus">
                    <h4>{{ 'EDIT_OFFER' | translate }}</h4>
          <hr>

                    <form class="form-horizontal" name="offerForm" ng-submit="offerForm.$valid && editJobOfferCtrl.editOffer()" novalidate>
                        <div class="form-group">
              <label class="col-sm-2 control-label">{{ 'TITLE' | translate }}*</label>
              <div class="col-sm-9">
                <input class="form-control input-lg" type="text" placeholder="{{ 'TITLE' | translate }}*" name="title" ng-model="editJobOfferCtrl.offer.title" required></input>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">{{ 'CONTENT' | translate }}*</label>
              <div class="col-sm-9">
                <textarea class="form-control input-lg post-textarea" type="text" placeholder="{{ 'CONTENT' | translate }}*" name="description" ng-model="editJobOfferCtrl.offer.description" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">{{ 'SKILLS' | translate }}</label>
              <div class="col-sm-9">
                <select name="skillsSelection" class="form-control" ng-model="editJobOfferCtrl.skillIdToAdd" ng-change="editJobOfferCtrl.addSelected()">
                  <option value="">{{ 'SELECT_SKILL' | translate }}</option>
                  <option ng-repeat="skill in editJobOfferCtrl.skillsToSelect" value="{{skill.id}}">{{skill.name}}</option>
                </select>
                <h3 class="skill-container">
                  <a ng-repeat="skill in editJobOfferCtrl.selectedSkills" ng-click="editJobOfferCtrl.removeSelected(skill.id)" class="no-underline right skill"><span class="label label-info">{{ skill.name }} <span class="glyphicon glyphicon-remove"></span></span></a>
                </h3>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-9">
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="{{ 'SAVE' | translate }}">
              </div>
            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
