<div class="content" ng-controller="JobOfferCtrl as offerCtrl">
    <div class="container">

        <div class="col-md-3 praesent">
            <div class="l_g_r">
                <div class="dapibus biography-into center">
                    <a ng-href="/users/{{ offerCtrl.offer.user.id }}">
                        <img class="user-placeholder" ng-src="{{ offerCtrl.offer.user.avatar }}" height="150" />
                        <h4>{{ offerCtrl.offer.user.first_name }} {{ offerCtrl.offer.user.last_name }}</h4>
                        <p class="center">{{ offerCtrl.offer.user.email }}</p>
                        <h3 ng-show="offerCtrl.belongsToUser">
                            <span class="label label-info">{{ offerCtrl.offer.applications }} {{ 'APPLICANTS' | translate }}</span>
                        </h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9 praesent">
            <!--OFFER INFORMATION-->
            <div class="l_g_r b-margin">
                <div class="dapibus biography-into">
                    <div ng-show="offerCtrl.belongsToUser">
                        <div class="btn-group top-right-edit-button">
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'ACTION' | translate }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a ng-href="/job_offers/{{ offerCtrl.offer.id }}/edit">
                                            {{ 'EDIT' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="remove-button" ng-click="offerCtrl.delete()">
                                            {{ 'DELETE' | translate }}
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <h2 class="media-heading">{{ offerCtrl.offer.title }}</h2>
                    <p>{{ offerCtrl.offer.description }}</p>
                    <h3>
                        <a ng-repeat="skill in offerCtrl.offer.skills" class="no-underline right" ng-href="/job_offers?skill_id={{ skill.id }}"><span class="label label-info">{{ skill.name }}</span></a>
                    </h3>
                </div>
            </div>
            <button ng-hide="offerCtrl.belongsToUser" class="btn btn-primary" type="submit" ng-click="offerCtrl.createApplication(offerCtrl.offer.id)">{{ 'APPLY' | translate }}</button>
            <!--APPLICANTS-->
            <div class="l_g_r" ng-show="offerCtrl.belongsToUser">
                <div class="dapibus biography-into">
                    <h2 class="media-heading">{{ 'APPLICANTS' | translate }}</h2>
                    <p ng-show="offerCtrl.applications.length === 0">{{ 'NO_APPLICANTS' | translate}}</p>
                    <div ng-repeat="application in offerCtrl.applications" class="media">
                        <div class="media-left">
                            <a ng-href="/users/{{ application.user.id }}">
                                <img class="user-placeholder" ng-src="{{ application.user.avatar }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3>{{ application.user.first_name }} {{ application.user.last_name }}</h3>
                            <h4 class="media-heading">{{ application.user.email }}</h4>
                            <p class="skill-container">
                                <a ng-repeat="skill in application.user.skills" class="no-underline right" ng-href="/job_offers?skill_id={{ skill.id }}"><span class="label label-info">{{ skill.name }}</span></a>
                            </p>
                        </div>
                        <hr>
                    </div>

            </div>
        </div>

    </div>
</div>
