$dark-grey: #737c85;
$dark-grey-2: #808080;
$dark-grey-3: #736f72;
$grey-white: #f5f6f7;
$grey-blue: #556a7f;
$grey-blue-2: #6f8686;
$white: #ffffff;
$green: #228B22;
$light-blue: #5bc0de;
$light-grey: #868f98;
$red: #e74c3c;
$dark-red: #CC3300;
$light-pink: #dc8e7f;
$yellow: #ffc000;
$dark-blue: #337ab7;