<div ng-controller="EditUserCtrl as editUserCtrl">
  <navbar></navbar>
  <div class="content">
    <div class="container">
        <div class="praesent">
            <div class="l_g_r biography-into">
                <div class="dapibus">
                    <h4>{{ 'EDIT_PROFILE' | translate }}</h4>
					<hr>
                    <form class="form-horizontal" name="userForm" ng-submit="userForm.$valid && editUserCtrl.editUser()" novalidate>

						<div class="form-group">
							<label class="col-sm-2 control-label">{{ 'FIRST_NAME' | translate }}*</label>
							<div class="col-sm-9">
								<input class="form-control input-lg" type="text" placeholder="{{ 'FIRST_NAME' | translate }}*" name="title" ng-model="editUserCtrl.user.first_name" required></input>
							</div>
						</div>
  						<div class="form-group">
							<label class="col-sm-2 control-label">{{ 'LAST_NAME' | translate }}*</label>
							<div class="col-sm-9">
								<input class="form-control input-lg" type="text" placeholder="{{ 'LAST_NAME' | translate }}*" name="title" ng-model="editUserCtrl.user.last_name" required></input>
							</div>
						</div>
    					<div class="form-group">
							<label class="col-sm-2 control-label">{{ 'SKILLS' | translate }}</label>
							<div class="col-sm-9">
								<select name="skillsSelection" class="form-control" ng-model="editUserCtrl.skillIdToAdd" ng-change="editUserCtrl.addSelected()">
									<option value="">{{ 'SELECT_SKILL' | translate }}</option>
									<option ng-repeat="skill in editUserCtrl.skillsToSelect" value="{{skill.id}}">{{skill.name}}</option>
								</select>
								<h3 class="skill-container">
								<a ng-repeat="skill in editUserCtrl.selectedSkills" ng-click="editUserCtrl.removeSelected(skill.id)" class="no-underline right skill"><span class="label label-info">{{ skill.name }} <span class="glyphicon glyphicon-remove"></span></span></a>
								</h3>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-9">
								<input type="submit" class="btn btn-primary btn-block btn-lg" value="{{ 'SAVE' | translate }}">
							</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
