<div class="content" ng-controller="UsersCtrl as usersCtrl">
    <div class="container">
        <div class="row ">
		
								   
            <div ng-repeat="user in usersCtrl.users" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="grid-item praesent center biography-into">
                    <div class="l_g_r">
                        <div class="dapibus">
                            <a ng-href="/users/{{ user.id }}">
                                <img class="user-image" ng-src="{{ user.avatar }}" height="150px"/>
                                <div>
                                    <h3><a ng-href="/users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></h3>
                                    <p class="center"><a ng-href="/users/{{ user.id }}"><i>{{ user.email }}</i></a></p>
                                    <p class="skill-container">
                                        <a ng-repeat="skill in user.skills" class="no-underline right skill" ng-href="/job_offers?skill_id={{ skill.id }}"><span class="label label-info">{{ skill.name }}</span></a>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			
        </div>
        <div class="row center">
            <div id="pagination">
                <ul class="pagination">
                    <li class="simil-link" ng-click="usersCtrl.previousPage()"><span aria-hidden="true">«</span></li>
                    <li><span class="blue">{{ usersCtrl.page }}</span></li>
                    <li class="simil-link" ng-click="usersCtrl.nextPage()"><span aria-hidden="true">»</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
