<div class="content" ng-controller="UserCtrl as userCtrl">
    <div class="container">

        <div class="row">

            <div class="col-md-4 praesent">
                <div class="l_g_r biography-into">
                    <div class="dapibus center">
                        <img class="user-image" ng-src="{{ userCtrl.user.avatar }}" height="150" />
                        <div id="info-user" style="display: block;">
                            <div >
                                <h3 class="center">{{ userCtrl.user.first_name }} {{ userCtrl.user.last_name }}</h3>
                            </div>
                            <div>
                                <h3><i>{{ userCtrl.user.email }}</i></h3>
                            </div>
                            <p class="skill-container">
                                <a ng-repeat="skill in userCtrl.user.skills" class="no-underline right skill" ng-href="/job_offers?skill_id={{ skill.id }}"><span class="label label-info">{{ skill.name }}</span></a>
                            </p>
                            <a ng-href="/users/me/edit"><span class="glyphicon glyphicon-pencil top-right-edit-button edit-button remove-button" ng-show="userCtrl.belongsToUser"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 praesent">
                <!-- POSTS -->
                <div ng-show="userCtrl.posts.length > 0">
                    <div class="biography-into praesent">
                        <div class="dapibus">
                            <h3>{{ 'RECENT_POSTS' | translate }}</h3>
                            <div ng-repeat="post in userCtrl.posts">
                                <hr>
								<div ng-show="userCtrl.belongsToUser">
                                    <div class="apply-button">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ 'ACTION' | translate }}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a ng-href="/posts/{{post.id}}/edit">
                                                        {{ 'EDIT' | translate }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="remove-button" ng-click="userCtrl.deletePost(post.id)">
                                                        {{ 'DELETE' | translate }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a class="no-underline" ng-href="/posts/{{post.id}}">{{ post.title }}</a></h4>
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row center">
                                <div id="pagination">
                                    <ul class="pagination">
                                        <li class="simil-link" ng-click="userCtrl.previousPostsPage()"><span aria-hidden="true">«</span></li>
                                        <li><span class="blue">{{ userCtrl.postsPage }}</span></li>
                                        <li class="simil-link" ng-click="userCtrl.nextPostsPage()"><span aria-hidden="true">»</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OFFERS -->
                <div ng-show="userCtrl.jobOffers.length > 0">
                    <div class="biography-into praesent">
                        <div class="dapibus">
                            <h3>{{ 'JOB_OFFERS_CREATED' | translate }}</h3>
                            <div ng-repeat="offer in userCtrl.jobOffers">
                                <hr>
								                                <div ng-show="userCtrl.belongsToUser">
                                    <div class="apply-button">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ 'ACTION' | translate }}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a ng-href="/job_offers/{{offer.id}}/edit">
                                                        {{ 'EDIT' | translate }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="remove-button" ng-click="userCtrl.deleteOffer(offer.id)">
                                                        {{ 'DELETE' | translate }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="remove-button" ng-click="userCtrl.closeOffer(offer.id)" ng-show="offer.closed_at === undefined">
                                                        {{ 'FINISH' | translate }}
                                                    </a>
                                                    <a class="remove-button" ng-click="userCtrl.openOffer(offer.id)" ng-hide="offer.closed_at === undefined">
                                                        {{ 'REOPEN' | translate }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body">
                                        <h4>
                                            <img ng-src="/images/on.png" ng-show="offer.closed_at === undefined"/>
                                            <img ng-src="/images/off.png" ng-hide="offer.closed_at === undefined"/>
                                            <a class="no-underline" ng-href="/job_offers/{{offer.id}}">{{ offer.title }}</a>
                                        </h4>
                                        <p>{{ offer.description }}</p>
                                        <p class="skill-container">
                                            <a ng-repeat="skill in offer.skills" class="no-underline right skill" ng-href="/job_offers?skill_id={{ skill.id }}"><span class="label label-info">{{ skill.name }}</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row center">
                                <div id="pagination">
                                    <ul class="pagination">
                                        <li class="simil-link" ng-click="userCtrl.previousOffersPage()"><span aria-hidden="true">«</span></li>
                                        <li><span class="blue">{{ userCtrl.jobOffersPage }}</span></li>
                                        <li class="simil-link" ng-click="userCtrl.nextOffersPage()"><span aria-hidden="true">»</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- APPLICATIONS -->
                <div ng-show="userCtrl.applications.length > 0">
                    <div class="biography-into praesent">
                        <div class="biography-into praesent">
                            <div class="dapibus">
                                <h3>{{ 'JOB_OFFERS_APPLIED' | translate }}</h3>
                                <div ng-repeat="application in userCtrl.applications">
                                    <hr>
                                    <div class="media">
										<div class="apply-button">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ 'ACTION' | translate }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a class="remove-button" ng-click="userCtrl.deleteApplication(application.id)">
                                                            {{ 'DELETE' | translate }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4><a ng-href="/job_offers/{{application.jobOffer.id}}">{{ application.job_offer.title }}</a></h4>
                                            <p>{{ 'POSTED_BY' | translate }} {{ application.job_offer.user.email }}</p>
                                            <p>{{ application.job_offer.description }}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row center">
                                    <div id="pagination">
                                        <ul class="pagination">
                                            <li class="simil-link" ng-click="userCtrl.previousApplicationsPage()"><span aria-hidden="true">«</span></li>
                                            <li><span class="blue">{{ userCtrl.applicationsPage }}</span></li>
                                            <li class="simil-link" ng-click="userCtrl.nextApplicationsPage()"><span aria-hidden="true">»</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
